
    <nav class="shadow-lg bg-4sektor">
        <div class="mx-auto max-w-7xl">
            <div class="flex justify-between">
                <div class="flex space-x-7">
                    <div>
                        <a href="/" class="flex items-center py-4">
                            <div class="flex justify-center mx-auto max-w-7xl md:justify-start mx-auto ">
                                <object data="assets/img/logo.svg" class="h-16 mt-6 "> </object>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
